div(class='intro__wrap-mob')
    div(class='navigation-mob')
        div(class='navigation__wrap-mob')
            div(class='navigation__title-mob')
                p ЕВРОПЛАН
            div(class='navigation__number-mob')
                div(class='navigation__number__wrap-mob')
                    div(class='cursor')
                        p 8 (800)
                            span 250-80-80
                    div(class='navigation__number__text-mob')
                        p бесплатный звонок по России
            div(class='navigation__field-mob')
                div(class='navigation__field__wrap-mob')
                    div(class='navigation__field__line-mob')
                    div(class='navigation__field__line-mob')
                    div(class='navigation__field__line-mob')
    div(class='navigation__list-mob')
        div(class='navigation__list__wrap-mob')
            div(class='navigation__item__wrap-mob')
                div(class='navigation__calculator__wrap-mob')
                    a(href='#calculate') Калькулятор
            div(class='border-mob')
            div(class='navigation__item__wrap-mob')
                div(class='navigation__action__wrap-mob')
                    a(href='#action') Акции
            div(class='border-mob')
            div(class='navigation__item__wrap-mob')
                div(class='navigation__leasing-work__wrap-mob')
                    a(href='#leasing-work') Как работает лизинг
            div(class='border-mob')
            div(class='navigation__item__wrap-mob')
                div(class='navigation__question__wrap-mob')
                    a(href='#question') Частые вопросы
            div(class='border-mob')
            div(class='navigation__item__wrap-mob')
                div(class='navigation__info__wrap-mob')
                    a(href='#navigation__info') О компании
            div(class='border-mob')
            div(class='navigation__item__wrap-mob')
                div(class='navigation__office__wrap-mob')
                    a(href='#navigation__office') Наши офисы
            div(class='border-mob')
            div(class='navigation__item__wrap-mob')
                div(class='navigation__close__wrap-mob')
                    a(class='close') Закрыть
    div
    div(class='intro__main-mob')
        div(class='intro__main__wrap-mob')
            div(class='intro__main__header-mob')
                div(class='main__header__wrap-mob')
                    p Новые грузовики в лизинг
                    p без переплат для юр.лиц и ИП
            div(class='intro__main__form-mob')
                div(class='main__form__wrap-mob')
                    div(class='form__title-mob')
                        div(class='')
                            p Получите расчёт
                    div(class='form__input-mob')
                        input
                    div(class='form__input-mob')
                        input
                    div(class='form__button__wrap-mob')
                        button(class='')
            div(class='intro__main__footer-mob')
                div(class='main__footer__wrap-mob')
                    p Наш специалист перезвонит вам в ближайшее время для предоставления предварительного решения.
                    p Оставляя заявку, вы даёте согласие на &nbsp
                        a обработку персональных данных.