div(class='leasing-work-mob')
    div(class='leasing-work-mob__wrap')
        div(class='leasing-work-mob__header')
            p Как работает лизинг грузовиков
        div(class='leasing-work-mob__main')
            div(class='colon')
                div(class='qqq')
                    div(class='fff')
                        div(class='centerrr')
                            div(class='colo')
                                div(class='colo2')
                                    img(src='./img/facebook.svg')
                                div(class='colo1')
                                    p 1
                        div(class='centerrr')
                            div(class='texttt')
                                p Вы оставляете онлайн-заявку
                div(class='qqq')
                    div(class='fff')
                        div(class='centerrr')
                            div(class='colo')
                                div(class='colo2')
                                    img(src='./img/facebook.svg')
                                div(class='colo1')
                                    p 1
                        div(class='centerrr')
                            div(class='texttt')
                                p Заключаете договор
                div(class='qqq')
                    div(class='fff')
                        div(class='centerrr')
                            div(class='colo')
                                div(class='colo2')
                                    img(src='./img/facebook.svg')
                                div(class='colo1')
                                    p 1
                        div(class='centerrr')
                            div(class='texttt')
                                p Вносите первоначальный взнос
            div(class='colon')
                div(class='qqq')
                    div(class='fff')
                        div(class='centerrr')
                            div(class='colo')
                                div(class='colo2')
                                    img(src='./img/facebook.svg')
                                div(class='colo1')
                                    p 1
                        div(class='centerrr')
                            div(class='texttt')
                                p Вы оставляете онлайн-заявку
                div(class='qqq')
                    div(class='fff')
                        div(class='centerrr')
                            div(class='colo')
                                div(class='colo2')
                                    img(src='./img/facebook.svg')
                                div(class='colo1')
                                    p 1
                        div(class='centerrr')
                            div(class='texttt')
                                p Заключаете договор
                div(class='qqq')
                    div(class='fff')
                        div(class='centerrr')
                            div(class='colo')
                                div(class='colo2')
                                    img(src='./img/facebook.svg')
                                div(class='colo1')
                                    p 1
                        div(class='centerrr')
                            div(class='texttt')
                                p Заключаете договор
div(class='leasing__question-mob')
    div(class='container-mob')
        div(class='leasing-question__wrap-mob')
            div(class='leasing-question__header')
                div(class='leasing-question__header-text') Преимущества лизинга в Европлане
            div(class='leasing-question__main-mob')
                div(class='main__column-row')
                    div(class='row__wrap-mob')
                        div(class='row__img')
                            div(class='row__img-wrap-mob')
                                img(src='./img/fura.jpg')
                        div(class='row__title-mob')
                            p Думаете, как сэкономить?
                        div(class='row__text-mob')
                            p Лизинговые платежи относятся на расходы и уменьшают налог на прибыль организации. Вы также cможете вернуть до 20% НДС от стоимости лизингового автомобиля.
                div(class='main__column-row')
                    div(class='row__wrap-no-img-mob')
                        div(class='row__title-mob')
                            p Транспорт нужен сейчас же?
                        div(class='row__text-mob')
                            p Отлаженные бизнес-процессы позволяют нам существенно сократить срок оформления сделки, а вам максимально быстро получить новый автомобиль. Одобрение может занять 15 минут, а срок оформления сделки – от одного дня.
                div(class='main__column-row')
                    div(class='row__wrap-mob')
                        div(class='row__img')
                            div(class='row__img-wrap-mob')
                                img(src='./img/fura.jpg')
                        div(class='row__title-mob')
                            p Нет времени собирать документы?
                        div(class='row__text-mob')
                            p Вам не придется тратить много времени на сбор необходимых документов – не всегда обязательно предоставлять налоговую декларацию, бухгалтерскую отчетность и справки из банка.
                div(class='main__column-row')
                    div(class='row__wrap-mob')
                        div(class='row__img')
                            div(class='row__img-wrap-mob')
                                img(src='./img/fura.jpg')
                        div(class='row__title-mob')
                            p Не хотите переплачивать?
                        div(class='row__text-mob')
                            p При наличии у Европлана скидок от автопроизводителей, вы можете приобрести автомобиль без переплат за лизинг, по сути равномерно выплачивая его стоимость в течение всего срока лизинга. Как правило, такие условия доступны на определенные марки автомобилей при сроке лизинга на 1 год.
            div(class='leasing-question__footer')
                button(class='footer__button') Получить расчёт