section(class='action-car' id='action')
    div(class='action-car-wrap__main')
        div(class='action-car-wrap__more')
            div(class='action-car__title')
                div(class='action-car__title-head')
                    p Примеры лизинговых расчётов
                div(class='action-car__title-foot')
                    p Мы предоставляем вам выгодные условия на популярные авто и технику
            div(class='action-car__main')
                div(class='action-car__main-block')
                    div(class='main-block__picture')
                    div(class='main-block__border')
                    div(class='main-block__content')
                        div(class='main-block__content-wrap')
                            div(class='content-wrap__more')
                                div(class='main-block__content-title')
                                    p Citroen
                                    p Jumper
                                div(class='main-block__content-main')
                                    div(class='content-main__wrap')
                                        div
                                            div(class='content-main__polygon')
                                            p Рекомендованная цена от 1 769 000 руб
                                        div
                                            div(class='content-main__polygon')
                                            p Переплата 0%
                                        div
                                            div(class='content-main__polygon')
                                            p Срок 48 месяцев
                                        div
                                            div(class='content-main__polygon')
                                            p Платёж 31 326 руб.
                                div(class='main-block__content-button')
                                    button(class='content-button') Узнать условия акцыи
                                div(class='main-block__content-footer')
                                    p Заполните заявку на расчёт по лизингу. Наш специалист перезвонит вам в ближайшее время и поможет подобрать наиболее оптимальные условия.
                div(class='action-car__main-border action-car__mob-none')
                div(class='action-car__main-block action-car__mob-none')
                    div(class='main-block__picture')
                    div(class='main-block__border')
                    div(class='main-block__content')
                        div(class='main-block__content-wrap')
                            div(class='content-wrap__more')
                                div(class='main-block__content-title')
                                    p Isuzu
                                    p NMR85H
                                div(class='main-block__content-main')
                                    div(class='content-main__wrap')
                                        div
                                            div(class='content-main__polygon')
                                            p Рекомендованная цена от 2 500 000 руб.
                                        div
                                            div(class='content-main__polygon')
                                            p Аванс 33%
                                        div
                                            idiv(class='content-main__polygon')
                                            p Переплата 0%
                                        div
                                            div(class='content-main__polygon')
                                            p Гарантия производителя 3 года
                                div(class='main-block__content-button')
                                    button(class='content-button') Узнать условия акцыи
                                div(class='main-block__content-footer')
                                    p Заполните заявку на расчёт по лизингу. Наш специалист перезвонит вам в ближайшее время и поможет подобрать наиболее оптимальные условия.