section(class='info' id='navigation__info')
    div(class='info__overlay')
    div(class='container align')
        div(class='info-wrap')
            div(class='overlay')
                div(class='info__title')
                    p Европлан – выбор надёжного партнёра
                div(class='info__text-leader')
                    div(class='text-leader__wrap')
                        p Европлан признан лидером автолизинга в России по итогам 2015-2018 годов по оценке
                    div(class='text-leader__wrap')
                        p «Fitch Ratings» и «Эксперт РА»
                div(class='info__list')
                    div(class='info__list-wrap')
                        div(class='info__list-column')
                            div(class='info__list-row')
                                div(class='info__list-row-wrap')
                                    div(class='list-row__polygon-wrap')
                                        div(class='list-row__polygon')
                                    div(class='list-row__text')
                                        p 20 лет успешной работы
                                div(class='info__list-row-wrap')
                                    div(class='list-row__polygon-wrap')
                                        div(class='list-row__polygon')
                                    div(class='list-row__text')
                                        p 296 000+  лизинговых сделок
                            div(class='info__list-row')
                                div(class='info__list-row-wrap')
                                    div(class='list-row__polygon-wrap')
                                        div(class='list-row__polygon')
                                    div(class='list-row__text')
                                        p 83 000+ довольных клиентов
                                div(class='info__list-row-wrap')
                                    div(class='list-row__polygon-wrap')
                                        div(class='list-row__polygon')
                                    div(class='list-row__text')
                                        p 83% клиентов готовы рекомендовать нас своим знакомым
                div(class='info__border')
                div(class='info__text-client')
                    p Нашими клиентами являются как крупные мировые компании, так и начинающие предприниматели, которые доверили нам развитие своего бизнеса:
                div(class='info__slider')
                    div(class='info__slider-wrap')
                        div(class='slider__btn-left')
                            div(class='slider__btn-wrap')
                                div(class='slider__btn-left__polygon')
                        div(class='slider__body')
                            div(class='slider__body-wrap')
                                div(class='slider__body-img img-1' id='img-1')
                                    img(src='./img/work-1.jpg')
                                div(class='slider__body-img img-2' id='img-2')
                                    img(src='./img/work-2.jpg')
                                div(class='slider__body-img img-3' id='img-3')
                                    img(src='./img/work-3.jpg')
                                div(class='slider__body-img img-4' id='img-4')
                                    img(src='./img/work-4.jpg')
                        div(class='slider__btn-right')
                            div(class='slider__btn-wrap')
                                div(class='slider__btn-right__polygon')