section(class='intro' id='intro')
    div(class='intro__overlay')
    div(class='container')
        div(class='intro__wrap')
            div(class='intro__head')
                div(class='intro__head-content')
                    div(class='head-content-wrap')
                        div(class='head-content__logo')
                            p ЕВРОПЛАН
                        div(class='head-content__number')
                            div(class='head-content__number-wrap')
                                div(class='cursor')
                                    p 8 (800)
                                        span 250-80-80
                                div(class='head-content__text') звонок по России бесплатный
                        div(class='head-content__button-wrap')
                            button(class='head-content__button') Заказать звонок
                div(class='navigation' id='navigation')
                    div(class='navigation__wrap-fix' id='navigation__wrap')
                        div(class='navigation__button navigation__calculate')
                            div(class='navigation__button-wrap')
                                a(href='#calculate' class='calculate1') Калькулятор
                        div(class='baffler')
                            div
                        div(class='navigation__button navigation__action')
                            div(class='navigation__button-wrap')
                                a(href='#action' class='action1') Акции
                        div(class='baffler')
                            div
                        div(class='navigation__button navigation__video')
                            div(class='navigation__button-wrap')
                                a(href='#video' class='video1') Наши клиенты
                        div(class='baffler')
                            div
                        div(class='navigation__button navigation__leasing-work')
                            div(class='navigation__button-wrap')
                                a(href='#leasingwork' class='leasing-work-1') Как работает лизинг
                        div(class='baffler')
                            div
                        div(class='navigation__button navigation__question')
                            div(class='navigation__button-wrap')
                                a(href='#question' class='question1') Частые вопросы
                        div(class='baffler')
                            div
                        div(class='navigation__button navigation__info')
                            div(class='navigation__button-wrap')
                                a(href='#navigation__info' class='navigation__info1') О компании
                        div(class='baffler')
                            div
                        div(class='navigation__button navigation__office')
                            div(class='navigation__button-wrap')
                                a(href='#navigation__office' class='navigation__office1') Наши офисы
            div(class='intro__main')
                div(class='intro__main-header')
                    div(class='intro__main-header-one') Новые грузовики в лизинг
                    div(class='intro__main-header-two') без переплат для юр.лиц и ИП
                div(class='intro__main-form')
                    div(class='main-form__text') Получите расчёт
                    div(class='main-form__button')
                        div(class='button-name')
                            div(class='button-name__wrap')
                                input(type='text' required id='text-one' placeholder='Введите имя')
                                div(class='button-name__error')
                                    p name error
                        div(class='button-number')
                            div(class='button-number__wrap')
                                input(type='text' required id='user_phone-one' placeholder='+7 ( _ _ _ ) _ _ _ - _ _ - _ _')
                                div(class='button-number__error')
                                    p number error
                        div(class='button-click')
                            div(class='button-click__wrap')
                                button(class='button') Получить расчёт
                                div(class='button-click__error')
                                    p click error
                div(class='intro__main-footer')
                    p(class='intro__main-footer-text-one') Наш специалист перезвонит вам в течение 15 минут, для предоставления предварительного решения.
                    p(class='intro__main-footer-text-two') Оставляя заявку, вы даёте согласие на &nbsp
                        a обработку персональных данных
        include ../mobail/intro-mobail