section(class='leasing-work' id='leasing-work')
    div(class='leasing-work__overlay')
        div(class='container')
            div(class='leasing-work__wrap')
                div(class='leasing-work__head-wrap')
                    div(class='leasing-work__head-text') Как работает лизинг грузовиков
                div(class='slide-car__wrap')
                    div(class='slide-car')
                        div(class='slide-car__img-wrap')
                            div(class='slide-car__img')
                                div(class='slide-car__img-active slide-img__one')
                                    img(src='./img/fura.jpg')
                        div(class='slide-car__btn-wrap')
                            div(class='slide-car__btn')
                                div(class='btn__wrap')
                                    button(class='btn__active slide-btn__one')
                                        img(src='./img/chek.png' class='btn-img__active')
                                        a(class='btn-text-one btn-text__de-active') 1
                                div(class='btn__wrap')
                                    button(class='btn__de-active slide-btn__two')
                                        img(src='./img/chek.png' class='btn-img__de-active')
                                        a(class='btn-text-two btn-text__active') 2
                                div(class='btn__wrap')
                                    button(class='btn__de-active slide-btn__three')
                                        img(src='./img/chek.png' class='btn-img__de-active')
                                        a(class='btn-text-three btn-text__active') 3
                                div(class='btn__wrap')
                                    button(class='btn__de-active slide-btn__four')
                                        img(src='./img/chek.png' class='btn-img__de-active')
                                        a(class='btn-text-four btn-text__active') 4
                                div(class='btn__wrap')
                                    button(class='btn__de-active slide-btn__five')
                                        img(src='./img/chek.png' class='btn-img__de-active')
                                        a(class='btn-text-five btn-text__active') 5
                                div(class='btn__wrap')
                                    button(class='btn__de-active slide-btn__six')
                                        img(src='./img/chek.png' class='btn-img__de-active')
                                        a(class='btn-text-six btn-text__active') 6
                        div(class='slide-car__text-wrap')
                            div(class='slide-car__text')
                                div(class='text__wrap')
                                    div(class='text__active h-text-one')
                                        p Вы оставляете
                                        p заявку
                                div(class='text__wrap')
                                    div(class='text__de-active h-text-two')
                                        p Наш менеджер
                                        p готовит предложение
                                div(class='text__wrap')
                                    div(class='text__de-active h-text-three')
                                        p Вы заключаете
                                        p договор
                                div(class='text__wrap')
                                    div(class='text__de-active h-text-four')
                                        p Европлан выкупает
                                        p автомобиль
                                div(class='text__wrap')
                                    div(class='text__de-active h-text-five')
                                        p Вы пользуетесь
                                        p автомобилем
                                div(class='text__wrap')
                                    div(class='text__de-active h-text-six')
                                        p Вы вносите
                                        p выкупной платёж
                        div(class='slide-car__slider-wrap')
                            div(class='slide-car__slider')
                                div(class='slide__wrap')
                                    div(class='slide-car__active slide-car-one')
                                        div(class='slide-car-pointer__active')
                                div(class='slide__wrap')
                                    div(class='slide-car__de-active slide-car-two')
                                        div(class='slide-car-pointer__de-active')
                                div(class='slide__wrap')
                                    div(class='slide-car__de-active slide-car-three')
                                        div(class='slide-car-pointer__de-active')
                                div(class='slide__wrap')
                                    div(class='slide-car__de-active slide-car-four')
                                        div(class='slide-car-pointer__de-active')
                                div(class='slide__wrap')
                                    div(class='slide-car__de-active slide-car-five')
                                        div(class='slide-car-pointer__de-active')
                                div(class='slide__wrap')
                                    div(class='slide-car__de-active slide-car-six')
                                        div(class='slide-car-pointer__de-active')
                div(class='leasing-work__line')
                div(class='leasing-work-car__text')
                    div(class='car_text__active text_one')
                        p на понравившийся вам автомобиль у любого поставщика через сайт Европлана или по телефону 8 (800) 444-45-42.
                        p Мы перезвоним вам в течение 15 минут!
                    div(class='car_text__de-active text_two')
                        p на основе лучших условий партнёров Европлана и ваших ожиданий. Менеджер Европлана подъедет в любое удобное
                        p для вас место и время.
                    div(class='car_text__de-active text_three')
                        p после подачи минимального пакета. После этого вы делаете первоначальный взнос.
                    div(class='car_text__de-active text_four')
                        p у поставщика и передаёт его вам. Оформите услугу «Европлан Регистрация» и получите уже зарегистрированный
                        p в госорганах автомобиль или технику.
                    div(class='car_text__de-active text_five')
                        p и вносите ежемесячные платежи. Вы можете воспользоваться дополнительными услугами Европлана — программой помощи
                        p на дорогах и топливной программой для экономии расходов.
                    div(class='car_text__de-active text_six')
                        p в конце срока лизинга и получаете автомобиль в собственность. По программе операционного лизинга вы возвращаете
                        p автомобиль в Европлан и заключаете договор на новый автомобиль.
    include ../mobail/leasing-work-mob
    div(class='leasing-question__overlay')
        div(class='container')
            div(class='leasing-question__wrap')
                div(class='leasing-question__header')
                    div(class='leasing-question__header-text') Преимущества лизинга в Европлане
                div(class='leasing-question__main')
                    div(class='main__column')
                        div(class='main__column-wrap')
                            div(class='main__column-row')
                                div(class='row__wrap')
                                    div(class='row__img')
                                        div(class='row__img-wrap')
                                            img(src='./img/fura.jpg')
                                    div(class='row__title')
                                        p Думаете, как сэкономить?
                                    div(class='row__text')
                                        p Лизинговые платежи относятся на расходы и уменьшают налог на прибыль организации. Вы также cможете вернуть до 20% НДС от стоимости лизингового автомобиля.
                            div(class='column-row-border')
                            div(class='main__column-row')
                                div(class='row__wrap-no-img')
                                    div(class='row__title')
                                        p Транспорт нужен сейчас же?
                                    div(class='row__text')
                                        p Отлаженные бизнес-процессы позволяют нам существенно сократить срок оформления сделки, а вам максимально быстро получить новый автомобиль. Одобрение может занять 15 минут, а срок оформления сделки – от одного дня.
                    div(class='main__column-border')
                    div(class='main__column')
                        div(class='main__column-wrap')
                            div(class='main__column-row')
                                div(class='row__wrap')
                                    div(class='row__img')
                                        div(class='row__img-wrap')
                                            img(src='./img/fura.jpg')
                                    div(class='row__title')
                                        p Нет времени собирать документы?
                                    div(class='row__text')
                                        p Вам не придется тратить много времени на сбор необходимых документов – не всегда обязательно предоставлять налоговую декларацию, бухгалтерскую отчетность и справки из банка.
                            div(class='column-row-border')
                            div(class='main__column-row')
                                div(class='row__wrap')
                                    div(class='row__img')
                                        div(class='row__img-wrap')
                                            img(src='./img/fura.jpg')
                                    div(class='row__title')
                                        p Не хотите переплачивать?
                                    div(class='row__text')
                                        p При наличии у Европлана скидок от автопроизводителей, вы можете приобрести автомобиль без переплат за лизинг, по сути равномерно выплачивая его стоимость в течение всего срока лизинга. Как правило, такие условия доступны на определенные марки автомобилей при сроке лизинга на 1 год.
                div(class='leasing-question__footer')
                    button(class='footer__button') Получить расчёт