section(class='neutral' id='neutral')
    div(class='container')
        div(class='neutral__wrap')
            div(class='neutral__title')
                div(class='neutral__title-text')
                    p Сэкономьте 10%: программа льготного лизинга Европлана
            div(class='neutral__body')
                div(class='neutral__body-wrap')
                    div(class='some_wrap')
                        div(class='neutral__body-text')
                            p Европлан субсидирует 10% от стоимости грузового и коммерческого автотранспорта и спецтехники, как по Госпрограмме льготного лизинга. Двойная выгода: прибавьте субсидию Европлана к спецпредложениям автопроизводителей и дилеров.
                        div(class='neutral__body-action')
                            div(class='neutral__body-action__head')
                                p Условия акции:
                            div(class='neutral__body-action__main')
                                div(class='body-action__main__bloc-wrap')
                                    div(class='body-action__main__bloc')
                                        p Аванс 15%-49%
                                        p Срок лизинга от 47 до 60 месяцев
                                div(class='body-action__main__bloc-wrap')
                                    div(class='body-action__main__bloc')
                                        p Для юридических лиц и ИП
                                        p Только коммерческие и грузовые автомобили, спецтехника
                        div(class='neutral__body-text') Предложение действует до 30 июня 2018 года.
            div(class='neutral__footer')
                div(class='neutral__footer-button')
                    button(class='button') Оставить заявку