section(class='office' id='navigation__office')
    div(class='container')
        div(class='office__main')
            div(class='office__main__title')
                p Адрес офиса Европлана:
                    | &nbsp
                    div(class='address')
                        p Выбрать город
                        p(class='polygon')
            div(class='office__main__list no-clicked')
                div(class='town__wrap')
                    p(class='Kiev') Киев
                div(class='town__wrap')
                    p(class='Lviv') Львов
                div(class='town__wrap')
                    p(class='Odessa') Одесса
                div(class='town__wrap')
                    p(class='Sumy') Сумы
                div(class='town__wrap')
                    p(class='Chernihiv') Чернигов
            div(class='office__main__map')
                div(id='map')
            div(class='info__block')
                div(class='info__block__wrap')
                    div(class='info__block__title')
                        div(class='city__name') Офис в Казани
                    div(class='info__block__main')
                        div(class='column__wrap')
                            div(class='column__img')
                                img(src='./img/logo.png')
                            div(class='city__address') 420124, г. Казань, проспект Ямашева, д 45А, офис 302, 3 этаж
                        div(class='column__wrap')
                            div(class='column__img')
                                img(src='./img/logo.png')
                            div(class='city__tel') 8-800-250-80-80
                        div(class='column__wrap')
                            div(class='column__img')
                                img(src='./img/logo.png')
                            div(class='city__time') Пн-пт с 9:00 до 18:00
                    div(class='info__block__button')
                        button(class='button_map') Заказать звонок
            div(class='text-block')
                p Европлан работает на территории всей Российской Федерации. Наша региональная сеть насчитывает 74 офиса, а квалифицированные и вежливые специалисты дистанционного контакт-центра готовы помочь в решении любых вопросов независимо от местонахождения клиента.