section(class='question' id='question')
    div(class='container')
        div(class='question__wrap')
            div(class='question__title')
                div(class='question__title-text')
                    p Частые вопросы
            div(class='question__main')
                div(class='question__main-wrap')
                    div(class='question__column')
                        div(class='question__column-wrap')
                            div(class='question__row')
                                div(class='question__row-wrap')
                                    div(class='question__row-item-wrap')
                                        div(class='question__row-item')
                                            div(class='question__text')
                                                p В чём основные отличия лизинга от кредита?
                                            div(class='question__polygon-wrap')
                                                div(class='question__polygon-de-active')
                                        div(class='question__row-item-big hide')
                                            div(class='question__text-hide')
                                                p В отличие от кредита лизинг имеет ряд преимуществ:
                                                p — Более низкий первоначальный взнос
                                                p — Не требуется дополнительный залог
                                                p — Вы экономите 20% за счёт возврата НДС
                                                p — Лизинговые платежи относятся на расходы и уменьшают налог на прибыль вашей компании
                                                p — Возможен сезонный график платежей, позволяющий сократить расходы до 2,5 раз в период спада деловой активности вашей компании
                            div(class='question__row')
                                div(class='question__row-wrap')
                                    div(class='question__row-item-wrap')
                                        div(class='question__row-item')
                                            div(class='question__text')
                                                p Можно ли взять в лизинг авто с пробегом?
                                            div(class='question__polygon-wrap')
                                                div(class='question__polygon-de-active')
                                        div(class='question__row-item-big hide')
                                            div(class='question__text-hide')
                                                p Да, мы финансируем как новые, так и авто с пробегом.
                    div(class='question__column')
                        div(class='question__column-wrap')
                            div(class='question__row')
                                div(class='question__row-wrap')
                                    div(class='question__row-item-wrap')
                                        div(class='question__row-item')
                                            div(class='question__text')
                                                p Нужно ли предоставлять налоговую декларацию?
                                            div(class='question__polygon-wrap')
                                                div(class='question__polygon-de-active')
                                        div(class='question__row-item-big hide')
                                            div(class='question__text-hide')
                                                p Вы можете не предоставлять налоговую декларацию, бухгалтерскую отчётность и справки из банков.
                            div(class='question__row')
                                div(class='question__row-wrap')
                                    div(class='question__row-item-wrap')
                                        div(class='question__row-item')
                                            div(class='question__text')
                                                p Можно ли досрочно выкупить предмет лизинга?
                                            div(class='question__polygon-wrap')
                                                div(class='question__polygon-de-active')
                                        div(class='question__row-item-big hide')
                                            div(class='question__text-hide')
                                                p Да, выкуп возможен по истечению 6 месяцев лизинга.
                    div(class='question__column')
                        div(class='question__column-wrap')
                            div(class='question__row')
                                div(class='question__row-wrap')
                                    div(class='question__row-item-wrap')
                                        div(class='question__row-item')
                                            div(class='question__text')
                                                p Есть ли требования по возрасту компании?
                                            div(class='question__polygon-wrap')
                                                div(class='question__polygon-de-active')
                                        div(class='question__row-item-big hide')
                                            div(class='question__text-hide')
                                                p Срок регистрации вашего бизнеса должен быть от 9 месяцев