section(class='video' id='video')
    div(class='container')
        div(class='video__wrap')
            div(class='video-slide')
                div(class='video-slide__head-text') Истории успеха наших клиентов
                div(class='video-slide__video')
                    div
                        button(class='video-slide-left')
                            div(class='left-polygon')
                    div(class='video-slide__video-wrap')
                        div(class='video-slide__video-active video-one')
                            iframe(src='https://www.youtube.com/embed/288wZgUNxmc' allowfullscreen)
                        div(class='video-slide__video-de-active video-two')
                            iframe(src='https://www.youtube.com/embed/Oh_2ByYtshA'  allowfullscreen)
                        div(class='video-slide__video-de-active video-three')
                            iframe(src='https://www.youtube.com/embed/AVkQ3vlBA5g' allowfullscreen)
                        div(class='video-slide__video-de-active video-four')
                            iframe(src='https://www.youtube.com/embed/BED0Yhi5X1g'  allowfullscreen)
                        div(class='video-slide__video-de-active video-five')
                            iframe(src='https://www.youtube.com/embed/FiqU6U1KQNg' allowfullscreen)
                    div
                        button(class='video-slide-right')
                            div(class='right-polygon')
                div(class='video-slide__button')
                    div(class='button_wrap')
                        div(class='video-btn-one video-btn-active' id='video-btn-one')
                            button
                        div(class='video-btn-two video-btn-de-active' id='video-btn-two')
                            button
                        div(class='video-btn-three video-btn-de-active' id='video-btn-three')
                            button
                        div(class='video-btn-four video-btn-de-active' id='video-btn-four')
                            button
                        div(class='video-btn-five video-btn-de-active' id='video-btn-five')
                            button