.info
  height: 120vh
  width: 100%
  position: relative
  background-size: cover
  //z-index: 1
  color: white
  background: url(../img/bg-info.jpg)
  background-size: cover

.info-wrap
  width: 100%
  height: 75%
  background-color: rgba(56, 58, 69, 0.9)
  opacity: 0.9
  display: flex
  align-items: center
  justify-content: center

.overlay
  width: 90%
  height: 90%
  margin: 5% auto
  display: grid
  grid-template-rows: 1fr 1fr 1fr 1px 1fr 1fr

.info__title
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  font-size: 3.8rem

.info__text-leader
  width: 100%
  height: 70%
  display: grid
  grid-template-rows: 1fr 1fr

.text-leader__wrap
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  font-size: 1.8rem

.info__list
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  font-size: 1.5rem

// список початок

.info__list-wrap
  width: 100%
  height: 80%
  display: flex
  align-items: center
  justify-content: center

.info__list-column
  width: 100%
  height: 100%
  display: grid
  grid-template-columns: 1fr 1fr

.info__list-row
  display: grid
  grid-template-rows: 1fr 1fr

.info__list-row-wrap
  width: 100%
  height: 100%
  display: grid
  grid-template-columns: 7% 93%

.list-row__polygon-wrap
  width: 100%
  height: 100%
  display: flex
  align-items: flex-start
  justify-content: flex-start

.list-row__polygon
  width: 60%
  height: 40%
  background-color: #FF4500
  clip-path: polygon(38% 77%, 100% 0, 100% 8%, 38% 100%, 0 48%, 0 40%)

.list-row__text
  display: flex
  align-items: flex-start
  justify-content: flex-start

// список кінець

.info__border
  width: 100%
  height: 100%
  background-color: #605f5f

.info__text-client
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  font-size: 1.8rem

// слайдер початок

.info__slider
  height: 100%
  width: 100%
  display: flex
  align-items: center
  justify-content: center

.info__slider-wrap
  height: 100%
  width: 100%
  display: grid
  grid-template-columns: 2rem 1fr 2rem

.slider__btn-left, .slider__btn-right
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center

.slider__btn-wrap
  width: 60%
  height: 35%
  cursor: pointer

.slider__btn-left__polygon
  background-color: #605f5f
  width: 100%
  height: 100%
  clip-path: polygon(100% 0, 20% 50%, 100% 100%, 100% 100%, 0% 50%, 100% 0)

.slider__btn-right__polygon
  background-color: #605f5f
  width: 100%
  height: 100%
  clip-path: polygon(0 0, 100% 50%, 0 100%, 0 100%, 80% 50%, 0 0)

.slider__body
  height: 100%
  width: 100%
  display: flex
  align-items: center
  justify-content: center

.slider__body-wrap
  height: 100%
  width: 100%
  display: block

.slider__body-img
  float: left
  height: 100%
  width: 25%
  display: flex
  align-items: center
  justify-content: center
  //z-index: 2
  img
    width: 50%
    height: 50%